<section class="card shadow-lg bg-base-200 border-2 border-base-content w-[1200px] h-[400px] rounded-none">
    <div class="card-body p-0 bg-linear-to-r from-base-200 via-base-100 to-base-300">
        <div class="flex flex-col flex-shrink justify-around w-full h-full">

            <!-- Top Stats Bar -->
            <div class="stats stats-horizontal">
                <div class="stat">
                    <div class="stat-figure">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="oklch(0.815 0.195 35.4)" viewBox="0 0 16 16">
                            <path d="M11.5 6.027a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m-1.5 1.5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1m2.5-.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m-1.5 1.5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1m-6.5-3h1v1h1v1h-1v1h-1v-1h-1v-1h1z"/>
                            <path d="M3.051 3.26a.5.5 0 0 1 .354-.613l1.932-.518a.5.5 0 0 1 .62.39c.655-.079 1.35-.117 2.043-.117.72 0 1.443.041 2.12.126a.5.5 0 0 1 .622-.399l1.932.518a.5.5 0 0 1 .306.729q.211.136.373.297c.408.408.78 1.05 1.095 1.772.32.733.599 1.591.805 2.466s.34 1.78.364 2.606c.024.816-.059 1.602-.328 2.21a1.42 1.42 0 0 1-1.445.83c-.636-.067-1.115-.394-1.513-.773-.245-.232-.496-.526-.739-.808-.126-.148-.25-.292-.368-.423-.728-.804-1.597-1.527-3.224-1.527s-2.496.723-3.224 1.527c-.119.131-.242.275-.368.423-.243.282-.494.575-.739.808-.398.38-.877.706-1.513.773a1.42 1.42 0 0 1-1.445-.83c-.27-.608-.352-1.395-.329-2.21.024-.826.16-1.73.365-2.606.206-.875.486-1.733.805-2.466.315-.722.687-1.364 1.094-1.772a2.3 2.3 0 0 1 .433-.335l-.028-.079zm2.036.412c-.877.185-1.469.443-1.733.708-.276.276-.587.783-.885 1.465a14 14 0 0 0-.748 2.295 12.4 12.4 0 0 0-.339 2.406c-.022.755.062 1.368.243 1.776a.42.42 0 0 0 .426.24c.327-.034.61-.199.929-.502.212-.202.4-.423.615-.674.133-.156.276-.323.44-.504C4.861 9.969 5.978 9.027 8 9.027s3.139.942 3.965 1.855c.164.181.307.348.44.504.214.251.403.472.615.674.318.303.601.468.929.503a.42.42 0 0 0 .426-.241c.18-.408.265-1.02.243-1.776a12.4 12.4 0 0 0-.339-2.406 14 14 0 0 0-.748-2.295c-.298-.682-.61-1.19-.885-1.465-.264-.265-.856-.523-1.733-.708-.85-.179-1.877-.27-2.913-.27s-2.063.091-2.913.27"/>
                        </svg>
                    </div>
                    <div class="stat-title font-bold text-accent">Games Played</div>
                    <div class="stat-value text-2xl"><%= new Intl.NumberFormat('en-US').format(items.gamesPlayed) %></div>
                </div>
                <div class="stat">
                    <div class="stat-figure">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="oklch(0.741 0.233 277.1)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg>
                    </div>
                    <div class="stat-title font-bold text-secondary">Completed</div>
                    <div class="stat-value text-2xl"><%= new Intl.NumberFormat('en-US').format(items.gamesCompleted) %></div>
                </div>
                <div class="stat">
                    <div class="stat-figure">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="var(--color-success)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20.2 7.8l-7.7 7.7-4-4-5.7 5.7"/><path d="M15 7h6v6"/></svg>
                    </div>
                    <div class="stat-title font-bold text-success">Completion %</div>
                    <div class="stat-value text-2xl"><%= items.completion * 100 %>%</div>
                </div>
                <div class="stat">
                    <div class="stat-figure">
                        <svg height="40" width="40" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="var(--color-primary)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><g> <path class="st0" d="M102.49,0c0,27.414,0,104.166,0,137.062c0,112.391,99.33,156.25,153.51,156.25 c54.18,0,153.51-43.859,153.51-156.25c0-32.896,0-109.648,0-137.062H102.49z M256.289,50.551l-68.164,29.768v98.474l-0.049,19.53 c-0.526-0.112-47.274-10.112-47.274-78.391c0-28.17,0-69.6,0-69.6h60.385L256.289,50.551z"></path> <polygon class="st0" points="315.473,400.717 291.681,367.482 279.791,318.506 256,322.004 232.209,318.506 220.314,367.482 205.347,388.394 196.527,400.476 196.699,400.476 196.527,400.717 "></polygon> <polygon class="st0" points="366.93,432.24 366.93,432 145.07,432 145.07,511.598 145.07,511.76 145.07,511.76 145.07,512 366.93,512 366.93,432.402 366.93,432.24 "></polygon> <path class="st0" d="M511.638,96.668c-0.033-1.268-0.068-2.336-0.068-3.174V45.1h-73.889v38.736h35.152v9.658 c0,1.127,0.037,2.557,0.086,4.258c0.389,13.976,1.303,46.707-21.545,70.203c-5.121,5.266-11.221,9.787-18.219,13.613 c-3.883,17.635-10.109,33.564-18.104,47.814c26.561-6.406,48.026-17.898,64.096-34.422 C513.402,159.734,512.121,113.918,511.638,96.668z"></path> <path class="st0" d="M60.625,167.955c-22.848-23.496-21.934-56.227-21.541-70.203c0.047-1.701,0.082-3.131,0.082-4.258v-9.658 h34.842h0.07l0,0h0.24V45.1H0.43v48.394c0,0.838-0.032,1.906-0.068,3.174c-0.482,17.25-1.76,63.066,32.494,98.293 c16.068,16.524,37.531,28.014,64.092,34.422c-7.996-14.25-14.22-30.182-18.103-47.816C71.846,177.74,65.746,173.221,60.625,167.955 z"></path> </g> </g></svg>
                    </div>
                    <div class="stat-title font-bold text-primary">Total Trophies</div>
                    <div class="stat-value text-2xl"><%= new Intl.NumberFormat('en-US').format(items.totalTrophies) %></div>
                </div>
                <div class="stat">
                    <div class="stat-figure">
                        <svg height="40" width="40" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="var(--color-warning)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><g> <path class="st0" d="M102.49,0c0,27.414,0,104.166,0,137.062c0,112.391,99.33,156.25,153.51,156.25 c54.18,0,153.51-43.859,153.51-156.25c0-32.896,0-109.648,0-137.062H102.49z M256.289,50.551l-68.164,29.768v98.474l-0.049,19.53 c-0.526-0.112-47.274-10.112-47.274-78.391c0-28.17,0-69.6,0-69.6h60.385L256.289,50.551z"></path> <polygon class="st0" points="315.473,400.717 291.681,367.482 279.791,318.506 256,322.004 232.209,318.506 220.314,367.482 205.347,388.394 196.527,400.476 196.699,400.476 196.527,400.717 "></polygon> <polygon class="st0" points="366.93,432.24 366.93,432 145.07,432 145.07,511.598 145.07,511.76 145.07,511.76 145.07,512 366.93,512 366.93,432.402 366.93,432.24 "></polygon> <path class="st0" d="M511.638,96.668c-0.033-1.268-0.068-2.336-0.068-3.174V45.1h-73.889v38.736h35.152v9.658 c0,1.127,0.037,2.557,0.086,4.258c0.389,13.976,1.303,46.707-21.545,70.203c-5.121,5.266-11.221,9.787-18.219,13.613 c-3.883,17.635-10.109,33.564-18.104,47.814c26.561-6.406,48.026-17.898,64.096-34.422 C513.402,159.734,512.121,113.918,511.638,96.668z"></path> <path class="st0" d="M60.625,167.955c-22.848-23.496-21.934-56.227-21.541-70.203c0.047-1.701,0.082-3.131,0.082-4.258v-9.658 h34.842h0.07l0,0h0.24V45.1H0.43v48.394c0,0.838-0.032,1.906-0.068,3.174c-0.482,17.25-1.76,63.066,32.494,98.293 c16.068,16.524,37.531,28.014,64.092,34.422c-7.996-14.25-14.22-30.182-18.103-47.816C71.846,177.74,65.746,173.221,60.625,167.955 z"></path> </g> </g></svg>
                    </div>
                    <div class="stat-title font-bold text-warning">Unearned Trophies</div>
                    <div class="stat-value text-2xl"><%= new Intl.NumberFormat('en-US').format(items.unearnedTrophies) %></div>
                </div>
                <div class="stat">
                    <div class="stat-figure">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="var(--color-error)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20.2 17.2l-7.7-7.7-4 4-5.7-5.7"/><path d="M15 18h6v-6"/></svg>
                    </div>
                    <div class="stat-title font-bold text-error">Unearned %</div>
                    <div class="stat-value text-2xl"><%= items.unearnedPercent * 100 %>%</div>
                </div>
            </div>

            <!-- Middle: User Info -->
            <div class="grid grid-cols-3">
                <div class="mx-2 h-50 border-2 border-secondary">
                    <div class="flex flex-col items-center bg-base-300 pt-1 h-full">
                        <p class="text-sm italic text-base-content font-bold">Most Recent Platinum:</p>
                        <div class="w-[90%] max-h-20 mb-2 overflow-y-hidden">
                            <div class="hero aspect-video bg-cover bg-top h-full" style="background-image: url('<%= items.recentPlat.image %>')">
                                <div class="hero-content p-1 m-0 flex w-full h-full items-end">
                                    <div class="bagde badge-ghost badge-sm italic text-right">Earned On: <%= items.recentPlat.earnedDate %></div>
                                </div>
                            </div>
                        </div>
                        <p class="text-sm italic text-base-content font-bold">Rarest Platinum:</p>
                        <div class="w-[90%] max-h-20 mb-1 overflow-y-hidden">
                            <div class="hero aspect-video bg-cover bg-top h-full" style="background-image: url('<%= items.rarestPlat.image %>')">
                                <div class="hero-content p-1 m-0 flex w-full h-full items-end">
                                    <div class="bagde badge-ghost badge-sm italic text-right">Earned On: <%= items.rarestPlat.earnedDate %></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="relative mx-2 h-50 border-2 border-primary">
                    <div class="absolute top-2 left-2 text-base-content text-sm italic">
                        <p>Rank: <%= new Intl.NumberFormat('en-US').format(items.ppRank) %></p>
                        <p>Grade: <%= items.profileGrade %></p>
                    </div>
                    <div class="text-center bg-base-300 pt-4 px-2 h-full w-full">
                        <div class="avatar mb-2">
                            <div class="w-24 rounded-full border-4 border-secondary mx-auto">
                                <img src="<%= items.avatar %>" alt="<%= items.name %>'s avatar" />
                            </div>
                        </div>
                        <h1 class="text-2xl font-bold line-clamp-1"><%= items.name %></h1>
                        <p class="text-sm text-base-content/70 italic line-clamp-2"><%= items.bio %></p>
                    </div>
                </div>
                
                <div class="mx-2 h-50 bg-base-200 border-2 border-accent">
                    <div class="hero mx-auto bg-auto bg-center bg-no-repeat w-full h-full" style="background-image: url('../images/logo.png')">
                        <div class="hero-overlay"></div>
                        <div class="hero-content flex flex-col items-center gap-0 mt-0 pt-1 w-full h-full">
                            <h4 class="text-sm font-bold text-base-content text-center italic w-full mb-1">Badge Showcase:</h4>
                            <div class="grid grid-cols-4 place-items-center w-full h-full">
                                <% items.badgeShowcaseSlugs.forEach(badgeSlug => { %>
                                    <img src="<%= badgeSlug %>" class="w-12 h-12 rounded-box" />
                                <% }) %>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Bottom Trophy Totals -->
            <div class="card w-fit place-self-center mb-0 mt-2">
                <div class="card-body p-0 m-0">
                    <div class="flex flex-row items-center justify-center">

                        <div class="flex flex-col gap-1 items-center">
                            <div class="flex flex-row gap-2 items-center">
                                <svg class="mr-2" height="35" width="35" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#8d4d2a"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><g> <path class="st0" d="M102.49,0c0,27.414,0,104.166,0,137.062c0,112.391,99.33,156.25,153.51,156.25 c54.18,0,153.51-43.859,153.51-156.25c0-32.896,0-109.648,0-137.062H102.49z M256.289,50.551l-68.164,29.768v98.474l-0.049,19.53 c-0.526-0.112-47.274-10.112-47.274-78.391c0-28.17,0-69.6,0-69.6h60.385L256.289,50.551z"></path> <polygon class="st0" points="315.473,400.717 291.681,367.482 279.791,318.506 256,322.004 232.209,318.506 220.314,367.482 205.347,388.394 196.527,400.476 196.699,400.476 196.527,400.717 "></polygon> <polygon class="st0" points="366.93,432.24 366.93,432 145.07,432 145.07,511.598 145.07,511.76 145.07,511.76 145.07,512 366.93,512 366.93,432.402 366.93,432.24 "></polygon> <path class="st0" d="M511.638,96.668c-0.033-1.268-0.068-2.336-0.068-3.174V45.1h-73.889v38.736h35.152v9.658 c0,1.127,0.037,2.557,0.086,4.258c0.389,13.976,1.303,46.707-21.545,70.203c-5.121,5.266-11.221,9.787-18.219,13.613 c-3.883,17.635-10.109,33.564-18.104,47.814c26.561-6.406,48.026-17.898,64.096-34.422 C513.402,159.734,512.121,113.918,511.638,96.668z"></path> <path class="st0" d="M60.625,167.955c-22.848-23.496-21.934-56.227-21.541-70.203c0.047-1.701,0.082-3.131,0.082-4.258v-9.658 h34.842h0.07l0,0h0.24V45.1H0.43v48.394c0,0.838-0.032,1.906-0.068,3.174c-0.482,17.25-1.76,63.066,32.494,98.293 c16.068,16.524,37.531,28.014,64.092,34.422c-7.996-14.25-14.22-30.182-18.103-47.816C71.846,177.74,65.746,173.221,60.625,167.955 z"></path> </g> </g></svg>
                                <div class="flex flex-col items-center">
                                    <span class="text-sm text-base-content font-semibold">Bronze: <%= new Intl.NumberFormat('en-US').format(items.bronze) %></span>
                                    <div class="text-xs italic"><%= new Intl.NumberFormat('en-US').format(items.weeklyBronze) %> earned last week.</div>
                                    <% if (items.weeklyChangeBronze > 0) { %>
                                        <div class="flex flex-row text-xs italic text-success gap-1">
                                            (+<%= new Intl.NumberFormat('en-US').format(items.weeklyChangeBronze) %>)
                                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="var(--color-success)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20.2 7.8l-7.7 7.7-4-4-5.7 5.7"/><path d="M15 7h6v6"/></svg>
                                        </div>
                                    <% } else if (items.weeklyChangeBronze === 0) { %>
                                        <div class="text-xs italic text-base-content">(0) -</div>
                                    <% } else { %>
                                        <div class="flex flex-row text-xs italic text-error gap-1">
                                            (<%= new Intl.NumberFormat('en-US').format(items.weeklyChangeBronze) %>)
                                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="var(--color-error)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20.2 17.2l-7.7-7.7-4 4-5.7-5.7"/><path d="M15 18h6v-6"/></svg>
                                        </div>
                                    <% }  %>
                                </div>
                            </div>
                        </div>

                        <div class="divider divider-horizontal"></div>

                        <div class="flex flex-col gap-1 items-center">
                            <div class="flex flex-row gap-2 items-center">
                                <svg class="mr-2" height="35" width="35" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#5f5f5f"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><g> <path class="st0" d="M102.49,0c0,27.414,0,104.166,0,137.062c0,112.391,99.33,156.25,153.51,156.25 c54.18,0,153.51-43.859,153.51-156.25c0-32.896,0-109.648,0-137.062H102.49z M256.289,50.551l-68.164,29.768v98.474l-0.049,19.53 c-0.526-0.112-47.274-10.112-47.274-78.391c0-28.17,0-69.6,0-69.6h60.385L256.289,50.551z"></path> <polygon class="st0" points="315.473,400.717 291.681,367.482 279.791,318.506 256,322.004 232.209,318.506 220.314,367.482 205.347,388.394 196.527,400.476 196.699,400.476 196.527,400.717 "></polygon> <polygon class="st0" points="366.93,432.24 366.93,432 145.07,432 145.07,511.598 145.07,511.76 145.07,511.76 145.07,512 366.93,512 366.93,432.402 366.93,432.24 "></polygon> <path class="st0" d="M511.638,96.668c-0.033-1.268-0.068-2.336-0.068-3.174V45.1h-73.889v38.736h35.152v9.658 c0,1.127,0.037,2.557,0.086,4.258c0.389,13.976,1.303,46.707-21.545,70.203c-5.121,5.266-11.221,9.787-18.219,13.613 c-3.883,17.635-10.109,33.564-18.104,47.814c26.561-6.406,48.026-17.898,64.096-34.422 C513.402,159.734,512.121,113.918,511.638,96.668z"></path> <path class="st0" d="M60.625,167.955c-22.848-23.496-21.934-56.227-21.541-70.203c0.047-1.701,0.082-3.131,0.082-4.258v-9.658 h34.842h0.07l0,0h0.24V45.1H0.43v48.394c0,0.838-0.032,1.906-0.068,3.174c-0.482,17.25-1.76,63.066,32.494,98.293 c16.068,16.524,37.531,28.014,64.092,34.422c-7.996-14.25-14.22-30.182-18.103-47.816C71.846,177.74,65.746,173.221,60.625,167.955 z"></path> </g> </g></svg>
                                <div class="flex flex-col items-center">
                                    <span class="text-sm text-base-content font-semibold">Silver: <%= new Intl.NumberFormat('en-US').format(items.silver) %></span>
                                    <div class="text-xs italic"><%= new Intl.NumberFormat('en-US').format(items.weeklySilver) %> earned last week.</div>
                                    <% if (items.weeklyChangeSilver > 0) { %>
                                        <div class="flex flex-row text-xs italic text-success gap-1">
                                            (+<%= new Intl.NumberFormat('en-US').format(items.weeklyChangeSilver) %>)
                                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="var(--color-success)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20.2 7.8l-7.7 7.7-4-4-5.7 5.7"/><path d="M15 7h6v6"/></svg>
                                        </div>
                                    <% } else if (items.weeklyChangeSilver === 0) { %>
                                        <div class="text-xs italic text-base-content">(0) -</div>
                                    <% } else { %>
                                        <div class="flex flex-row text-xs italic text-error gap-1">
                                            (<%= new Intl.NumberFormat('en-US').format(items.weeklyChangeSilver) %>)
                                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="var(--color-error)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20.2 17.2l-7.7-7.7-4 4-5.7-5.7"/><path d="M15 18h6v-6"/></svg>
                                        </div>
                                    <% }  %>
                                </div>
                            </div>
                        </div>

                        <div class="divider divider-horizontal"></div>

                        <div class="flex flex-row items-center">
                            <svg class="mr-2" height="35" width="35" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#927143"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><g> <path class="st0" d="M102.49,0c0,27.414,0,104.166,0,137.062c0,112.391,99.33,156.25,153.51,156.25 c54.18,0,153.51-43.859,153.51-156.25c0-32.896,0-109.648,0-137.062H102.49z M256.289,50.551l-68.164,29.768v98.474l-0.049,19.53 c-0.526-0.112-47.274-10.112-47.274-78.391c0-28.17,0-69.6,0-69.6h60.385L256.289,50.551z"></path> <polygon class="st0" points="315.473,400.717 291.681,367.482 279.791,318.506 256,322.004 232.209,318.506 220.314,367.482 205.347,388.394 196.527,400.476 196.699,400.476 196.527,400.717 "></polygon> <polygon class="st0" points="366.93,432.24 366.93,432 145.07,432 145.07,511.598 145.07,511.76 145.07,511.76 145.07,512 366.93,512 366.93,432.402 366.93,432.24 "></polygon> <path class="st0" d="M511.638,96.668c-0.033-1.268-0.068-2.336-0.068-3.174V45.1h-73.889v38.736h35.152v9.658 c0,1.127,0.037,2.557,0.086,4.258c0.389,13.976,1.303,46.707-21.545,70.203c-5.121,5.266-11.221,9.787-18.219,13.613 c-3.883,17.635-10.109,33.564-18.104,47.814c26.561-6.406,48.026-17.898,64.096-34.422 C513.402,159.734,512.121,113.918,511.638,96.668z"></path> <path class="st0" d="M60.625,167.955c-22.848-23.496-21.934-56.227-21.541-70.203c0.047-1.701,0.082-3.131,0.082-4.258v-9.658 h34.842h0.07l0,0h0.24V45.1H0.43v48.394c0,0.838-0.032,1.906-0.068,3.174c-0.482,17.25-1.76,63.066,32.494,98.293 c16.068,16.524,37.531,28.014,64.092,34.422c-7.996-14.25-14.22-30.182-18.103-47.816C71.846,177.74,65.746,173.221,60.625,167.955 z"></path> </g> </g></svg>
                            <div class="flex flex-col items-center">
                                <span class="text-sm text-base-content font-semibold">Gold: <%= new Intl.NumberFormat('en-US').format(items.gold) %></span>
                                <div class="text-xs italic"><%= new Intl.NumberFormat('en-US').format(items.weeklyGold) %> earned last week.</div>
                                <% if (items.weeklyChangeGold > 0) { %>
                                    <div class="flex flex-row text-xs italic text-success gap-1">
                                        (+<%= new Intl.NumberFormat('en-US').format(items.weeklyChangeGold) %>)
                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="var(--color-success)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20.2 7.8l-7.7 7.7-4-4-5.7 5.7"/><path d="M15 7h6v6"/></svg>
                                    </div>
                                <% } else if (items.weeklyChangeGold === 0) { %>
                                    <div class="text-xs italic text-base-content">(0) -</div>
                                <% } else { %>
                                    <div class="flex flex-row text-xs italic text-error gap-1">
                                        (<%= new Intl.NumberFormat('en-US').format(items.weeklyChangeGold) %>)
                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="var(--color-error)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20.2 17.2l-7.7-7.7-4 4-5.7-5.7"/><path d="M15 18h6v-6"/></svg>
                                    </div>
                                <% }  %>
                            </div>
                        </div>

                        <div class="divider divider-horizontal"></div>

                        <div class="flex flex-col gap-1 items-center">
                            <div class="flex flex-row gap-2 items-center">
                                <svg class="mr-2" height="35" width="35" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#67d1f8"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><g> <path class="st0" d="M102.49,0c0,27.414,0,104.166,0,137.062c0,112.391,99.33,156.25,153.51,156.25 c54.18,0,153.51-43.859,153.51-156.25c0-32.896,0-109.648,0-137.062H102.49z M256.289,50.551l-68.164,29.768v98.474l-0.049,19.53 c-0.526-0.112-47.274-10.112-47.274-78.391c0-28.17,0-69.6,0-69.6h60.385L256.289,50.551z"></path> <polygon class="st0" points="315.473,400.717 291.681,367.482 279.791,318.506 256,322.004 232.209,318.506 220.314,367.482 205.347,388.394 196.527,400.476 196.699,400.476 196.527,400.717 "></polygon> <polygon class="st0" points="366.93,432.24 366.93,432 145.07,432 145.07,511.598 145.07,511.76 145.07,511.76 145.07,512 366.93,512 366.93,432.402 366.93,432.24 "></polygon> <path class="st0" d="M511.638,96.668c-0.033-1.268-0.068-2.336-0.068-3.174V45.1h-73.889v38.736h35.152v9.658 c0,1.127,0.037,2.557,0.086,4.258c0.389,13.976,1.303,46.707-21.545,70.203c-5.121,5.266-11.221,9.787-18.219,13.613 c-3.883,17.635-10.109,33.564-18.104,47.814c26.561-6.406,48.026-17.898,64.096-34.422 C513.402,159.734,512.121,113.918,511.638,96.668z"></path> <path class="st0" d="M60.625,167.955c-22.848-23.496-21.934-56.227-21.541-70.203c0.047-1.701,0.082-3.131,0.082-4.258v-9.658 h34.842h0.07l0,0h0.24V45.1H0.43v48.394c0,0.838-0.032,1.906-0.068,3.174c-0.482,17.25-1.76,63.066,32.494,98.293 c16.068,16.524,37.531,28.014,64.092,34.422c-7.996-14.25-14.22-30.182-18.103-47.816C71.846,177.74,65.746,173.221,60.625,167.955 z"></path> </g> </g></svg>
                                <div class="flex flex-col items-center">
                                    <span class="text-sm text-base-content font-semibold">Platinum: <%= new Intl.NumberFormat('en-US').format(items.platinum) %></span>
                                    <div class="text-xs italic"><%= new Intl.NumberFormat('en-US').format(items.weeklyPlatinum) %> earned last week.</div>
                                    <% if (items.weeklyChangePlatinum > 0) { %>
                                        <div class="flex flex-row text-xs italic text-success gap-1">
                                            (+<%= new Intl.NumberFormat('en-US').format(items.weeklyChangePlatinum) %>)
                                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="var(--color-success)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20.2 7.8l-7.7 7.7-4-4-5.7 5.7"/><path d="M15 7h6v6"/></svg>
                                        </div>
                                    <% } else if (items.weeklyChangePlatinum === 0) { %>
                                        <div class="text-xs italic text-base-content">(0) -</div>
                                    <% } else { %>
                                        <div class="flex flex-row text-xs italic text-error gap-1">
                                            (<%= new Intl.NumberFormat('en-US').format(items.weeklyChangePlatinum) %>)
                                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="var(--color-error)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20.2 17.2l-7.7-7.7-4 4-5.7-5.7"/><path d="M15 18h6v-6"/></svg>
                                        </div>
                                    <% }  %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>

             <!-- Bottom Link -->
            <div class="place-self-center"><p class="font-base text-sm italic font-logo">-- www.platpursuit.com/profile/<span class="text-accent font-semibold">PlatPursuit</span> --</p></div>
        </div>
    </div>
</section>
