<section class="card shadow-lg w-full bg-base-200 border-2 border-base-300 w-full transition duration-300 hover:shadow-accent hover:border-accent hover:bg-base-300 mb-8">
    <div class="card-body">
        <h2 class="card-title text-2xl font-bold place-self-center"><%= title %></h2>
        <div class="divider mt-0"></div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <% items.forEach(function(item) { %>
                <div class="card bg-base-100 shadow-xl border-2 border-base-300 transition duration-300 hover:shadow-lg hover:border-primary hover:shadow-primary">
                    <div class="card-body flex flex-row items-center p-4 group">
                        <figure class="flex-shrink-0 mr-4 rounded-lg border-2 border-base-300 transition duration-300 group-hover:scale-105 group-hover:border-primary">
                            <img src="<%= item.image %>" alt="<%= item.alt || 'Item image' %>" class="w-16 h-16 object-cover group-hover:scale-105" loading="lazy" />
                        </figure>

                        <div class="flex-grow space-y-1 truncate">
                            <% if (title === 'Latest Trophies') { %>
                                <h3 class="card-title text-lg truncate"><%= item.trophy %></h3>
                                <p class="text-sm text-base-content/70 mb-2">By <a href="/" class="link link-hover text-primary"><%= item.user %></a> in <a href="/" class="link link-hover text-accent"><%= item.game %></a></p>
                                <span class="badge badge-outline badge-sm"><%= item.time %></span>
                            <% } else if (title === 'Recent Guides') { %>
                                <h3 class="card-title text-lg truncate"><%= item.title %></h3>
                                <p class="text-sm text-base-content/70 mb-2">By <a href="/" class="link link-hover text-primary"><%= item.author %></a> for <a href="/" class="link link-hover text-accent"><%= item.game %></a></p>
                                <span class="badge badge-outline badge-sm"><%= item.date %></span>
                            <% } else if (title === 'Playing Now') { %>
                                <h3 class="card-title text-lg truncate"><%= item.title %></h3>
                                <p class="text-sm text-base-content/70"><%= new Intl.NumberFormat('en-US').format(item.players) %> players</p>
                                <div class="flex items-center gap-2">
                                    <progress class="progress <% if (item.avgCompletion <= 0.33) { %>progress-error<% } else if (item.avgCompletion < 0.66) { %>progress-warning<% } else { %>progress-success<% } %> w-24" value="<%= item.avgCompletion * 100 %>" max="100"></progress>
                                    <span class="text-sm">Avg. Completion: <%= item.avgCompletion * 100 %>%</span>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
        <div class="text-right mt-4">
            <a href="/" class="btn btn-ghost">View All</a>
        </div>
    </div>
</section>